AZURE_OPENAI_API_KEY=your_key
AZURE_OPENAI_ENDPOINT=https://your-endpoint.openai.azure.com/
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_API_VERSION=2025-03-01-preview

MCP_SERVER_URI=http://localhost:8000/mcp

#AZURE_OPENAI_API_KEY=46F55aMYhCvAyMdIF701CXSlzs2kBxFsVLYV7yqMBHHBYgeQJ3OMJQQJ99CDAC5T7U2XJ3w3AAAAACOGmFPo
#AZURE_OPENAI_ENDPOINT=https://agent-2176973.cognitiveservices.azure.com/
#AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini
#AZURE_OPENAI_API_VERSION=2025-03-01-preview

#MCP_SERVER_URI=http://localhost:8000/mcp

#AGENT_MODULE=agents.agent_framework.single_agent

#AGENT_MODULE=agents.agent_framework.multi_agent.magentic_group

#AGENT_MODULE=agents.agent_framework.multi_agent.handoff_multi_domain_agent
#HANDOFF_CONTEXT_TRANSFER_TURNS=-1
#DISABLE_AUTH=true
